---
interface Props {
  title: string;
  body: string;
  imgSrc: ImageMetadata;
  primaryHref: string;
  secondaryHref?: string;
  primaryBtnText: string;
  secondaryBtnText?: string;
  left: boolean;
}

const { title, body, imgSrc, primaryBtnText, secondaryBtnText, primaryHref, secondaryHref, left }: Props = Astro.props;
---

{
	left? 
	<div class="card flex lg:flex-row rounded overflow-hidden shadow-xl z-0">
		<div class="card-image lg:w-1/2">
			<img src={imgSrc.src} alt={title} class="object-cover h-full w-full" />
		</div>
		<div class="card-content lg:w-1/2 p-4 flex flex-col justify-center">
			<h2 class="lg:text-2xl max-md:text-xl font-bold mb-2">{title}</h2>
			<p class="mb-10">{body}</p>
			<div class="flex space-x-2 justify-end">

				{(primaryBtnText&&primaryHref) ? <a href={primaryHref}>
					<button class="btn bg-secondary">{primaryBtnText}</button>
				</a> : null}

				{(secondaryBtnText&&secondaryHref) ? <a href={secondaryHref}>
					<button class="btn bg-primary">{secondaryBtnText}</button>
				</a> : null}
				
			</div>
		</div>
	</div>
	:
	<div class="card flex lg:flex-row rounded overflow-hidden shadow-lg">
		<div class="card-content lg:w-1/2 p-4 flex flex-col justify-center">
			<h2 class="lg:text-2xl max-md:text-xl font-bold mb-2">{title}</h2>
			<p class="mb-10">{body}</p>
			<div class="flex space-x-2 justify-end">

				{(primaryBtnText&&primaryHref) ? <a href={primaryHref}>
					<button class="btn bg-secondary">{primaryBtnText}</button>
				</a> : null}

				{(secondaryBtnText&&secondaryHref) ? <a href={secondaryHref}>
					<button class="btn bg-primary">{secondaryBtnText}</button>
				</a> : null}

			</div>
		</div>
		<div class="card-image lg:w-1/2">
			<img src={imgSrc.src} alt={title} class="object-cover h-full w-full" />
		</div>
		
	</div>
}


<style>
  .card {
    max-width: 80%; /* Optional: Adjust the maximum width */
    margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;

}
  .card-image img {
    object-fit: cover;
    height: 100%;
  }
  .btn {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
  }

</style>
